/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

/* Center the login page content */
.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff7f27;
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbarLeft {
    display: flex;
    align-items: center;
}

.menuIcon {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbarRight {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon, .userIcon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

/* Login Container */
.loginContainer {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin-top: 100px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.loginTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

/* Login Form */
.loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginForm label {
    text-align: left;
    color: black;
    font-size: 14px;
}

.loginForm input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: #d3d3d3;
    outline: none;
}

.loginButton {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4b4b4b;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.signupButton {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

/* Find Links */
.findLinks {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.findLinks button {
    color: black;
    text-decoration: none;
    font-size: 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto; /* 오른쪽으로 정렬. 이후에 왼쪽으로 정렬하고 싶으면 이 줄 삭제 */
}
