/* General Styles */
.notificationPage {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
}

.notificationContent {
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.notificationTitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.checkAll {
    font-size: 14px;
    color: gray;
    margin-top: 5px;
    cursor: pointer;
    text-align: right;
    display: block;
}

.notificationList {
    margin-top: 20px;
}

.notificationItem {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #f0f0f0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.statusIcon {
    margin-right: 10px;
    font-size: 12px;
}

.notificationText {
    font-size: 16px;
}
